@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #222;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

section {
  padding: 4rem;
  width: 90%;
  margin: auto;
  height: 100vh;
  margin-bottom: 20rem;
}

.section__about {
  display: flex;
  flex-direction: column;
}

.top {
  margin-bottom: 1rem;
}

.top__header {
  margin-bottom: 1rem;
}

.top__header h1 {
  font-weight: bolder;
  margin-bottom: 0.2rem;
}

.top__header p {
  text-align: justify;
  letter-spacing: 1px;
  font-weight: 500;
}

.top__footer {
  display: flex;
  flex-direction: column;
}

.top__footer .contact__me {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.5s ease-out;
  margin-bottom: 1rem;
}

.top__footer .contact__me:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom .icons {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.bottom .icons a {
  margin: 0 1rem;
}

.bottom .card {
  width: 20rem;
  border-radius: 0.5rem;
  padding-bottom: 4rem;
  box-shadow: 2px 2px 2px 2px #cacaca;
}

.bottom .card img {
  width: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.bottom .card .name {
  text-align: center;
}
